html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0px;
}
.conteiner {
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 50px;
}

.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;
}
.logo {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.067;
    margin: 0px;
    float: left;
}
.menu {
    float: right;
}
.menu ul {
    width: 520px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    list-style: none;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    text-decoration: none;
    font-family: "OpenSans", sans-serif;
    color: rgb(85, 82, 82);
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.menu li:not(:last-child){
    margin-right: 34px;
}
.menu li a:hover {
    color: rgb(26, 188, 156);
}

       /* MAIN SLIDE */

.slider {
    position: relative;
    width: 1500px;
    height: 564px;
    margin: 0px auto;
    background-color: black;
}
.slider img {
    opacity: 0.4;
}

.button-left {
    position: absolute;
    display: inline-block;
    top: 38%;
    left: 180px;
    border: none;
    width: 105px;
    height: 105px;
    background-color: rgb(80, 157, 139);
}
.button-rite {
    position: absolute;
    display: inline-block;
    top: 38%;
    right: 180px;
    border: none;
    width: 105px;
    height: 105px;
    background-color: rgb(80, 157, 139);
}
.tours {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 350px;
    font-size: 60px;
    font-family: "Roboto",sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
.tours-name {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 350px;
    font-size: 30px;
    font-family: "Roboto",sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
section {
    padding-top: 100px;
}
.product h2 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    text-decoration: none;
    margin:0; 
    margin-bottom: 75px;
    padding: 0;
}

.product h2::after {
    display: block;
    height: 7px;
    width: 160px;
    background-color: rgb(26, 188, 156);
    content: '';
    margin:  auto;
    margin-top: 35px;
}
.product ul {
    margin: 0;
    padding: 0;
}
.product ul li {
    position: relative;
    display: block;
    height: 322px;
    width: 255px;
    background-color: rgb(233, 240, 253);
    float: left;
    margin-bottom: 30px;
    padding: 0;
}
.submenu {
    position: absolute;
    top: 1%;
    height: 316px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.product a {
    text-decoration: none;
}
.product li:hover .submenu {
    opacity: 1;
}

.submenu .like:hover {
    background-color:rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
    
}
.submenu .next:hover {
    background-color: rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
    
}
.submenu .time:hover {
    background-color: rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
    
}
.submenu .cart:hover {
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    
}
.product li:hover .name {
    background-color: rgb(26, 188, 156);
}

.product li:hover .price {
    background-color: rgb(127, 217, 199);
}
.product li:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product .like {
    position: absolute;
    top: 25%;
    left: 14%;
    width: 50px;
    height: 50px;
    border-style: solid;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
}
.product .next {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 50px;
    height: 50px;
    border-style: solid;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
}
.product .time {
    position: absolute;
    top: 25%;
    left: 65%;
    width: 50px;
    height: 50px;
    border-style: solid;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
}
.product .cart {
    position: absolute;
    top: 45%;
    left: 14%;
    width: 180px;
    height: 50px;
    border-style: solid;
    font-size: 14px;
    font-family: "OpenSans" sans-serif;
    text-transform: uppercase;
    line-height: 2.286;
    text-align: center;      
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}
.product .name  {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(50, 50, 50);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    text-decoration: none;
    text-indent: 13px;

}

.product .price  {
    display: inline-block;
    width: 51px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(140, 140, 140);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: center;
    text-decoration: none;
}
main {
   margin: 0;
   padding-bottom: 100px;
   background-color: rgb(233, 240, 253);
}
.foot {
    width: 1500px;
    height: 88px;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
}
.foot p {
    margin: 0px;
    padding: 30px;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb(254, 254, 254);
    line-height: 1.75;
    text-align: center;
    }
      