html {
    box-sizing: border-box;
}
*, 
*::before, 
*::after{
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0px;
}

.list {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}

.list li a {
    text-decoration: none;
    color: rgb(98,98,98);
    font-size: 14px;
    font-family: "PlayfairDisplay";   
    text-transform: uppercase;
    margin: 0px;
}
.menu li {
    display: inline-block;
    margin-top: 50px; 
    margin-bottom: 80px;
}
.menu li:not(:last-child) {
    margin-right: 80px;
}
.conteiner {
    width: 900px;
    margin: 0px auto;
   }
.content {
    font-size: 0px;
    padding-bottom: 150px;
}
.box {
    display: inline-block;
    width: 421px;
}
.box:not(:last-child) {
    margin-bottom: 100px;
}
.box:not(:nth-child(2n)) {
    margin-right: 50px;
}

.box h2 {
        font-size: 30px;
        font-family: "PlayfairDisplay";
        color: rgb(98, 98, 98);
        line-height: 1.2;
        margin: 0px 0px 25px 0px;
      }
.box .coci {
        font-size: 14px;
        font-family: "Ubuntu";
        color: rgb(180, 173, 158);
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 25px;
      }
.box p {
        font-size: 14px;
        font-family: "PlayfairDisplay";
        color: rgb(98, 98, 98);
        line-height: 1.714;
        margin: 0px 0px;
      }

.butt {
        font-size: 30px;
        font-family: "PlayfairDisplay";
        color: rgb(98, 98, 98);
        line-height: 1.2;
        margin: 0px 370px;        
      }
.butt:hover {
    background-color: aqua;
}

    