.menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.menu a {
    text-decoration: none;
    color: rgb(98,98,98);
    font-size: 14px;
    font-family: "PlayfairDisplay";   
    text-transform: uppercase;
    text-align: center;
    
}
.menu li {
    padding-left: 15%;
    display: inline;    
}
.list li {
    text-align:center;
}
    