html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.header {
    display: flex;
    min-height: 100px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.site-logo {
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        color: rgb(149, 225, 211);
        font-weight: bold;
        text-decoration: none;
}

.site-navigation{
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.site-navigation a {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(149, 225, 211);
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1 linear;

}

.site-navigation a:hover {
    color: crimson;
}

.site-navigation a:hover::after{
    display: block;
    height: 1px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    content: '';
    margin-top: 10px;
}
.first-h{
        font-size: 24px;
        font-family: "Kaushan+Script", sans-serif;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px;

}

.second-h {
        font-size: 30px;
        font-family: "Montserrat",sans-serif;
        color: rgb(51, 51, 51);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin: 0;

}
.second-h::after {
    display: block;
    height: 4px;
    width: 80px;
    background-color: rgb(255, 0, 0);
    content: '';
    margin:  auto;
    margin-top: 40px;
}

.service ul{
    padding: 0;
    margin-top: 65px;
    margin-bottom: 85px;
    list-style: none;
}

.list-item li {
    width: 340px;
    margin-bottom: 100px;
    padding: 0;
    text-align: justify;
}

.list-item img {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
.list-item h4{
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
}
.list-item p{
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
    margin: 0;
}
.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team ul{
    display: flex;
    justify-content: space-between;
    flex: 0, 0, 350px;
    list-style: none;
    padding: 0;
}
.team li {
    position: relative;
   
}

.back-color {
    position: absolute;
    height: 470px;
    width: 100%;
    background-color: aqua;
    opacity: 0;
}

.team-text {
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    color: rgb(153, 153, 153);
}

.team-photo {
    margin-bottom: 30px;
    
}

.overblock {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 470px;
    background: linear-gradient(#ee888ae5,#eed687e5);
    opacity: 0;
    
}

.team button {
    width: 55px;
    height: 55px;
    margin-right: 2px;
    background-color: rgb(252, 227, 138);
    border: none;
}

.team img {
    margin-left: 10px;
    
}
.team-name {
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

.team-prof {
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin: 0;
}

.team li:hover .overblock {
    transform: translate(-5%,-5%);
    opacity: 1;
}

.team li:hover .team-photo {
    transform: translate(-5%,-5%);
}

@keyframes team-card {
    0% {
        transform: translate(0%,0%);
    }
    100% {
        transform: translate(-5%,-5%);
    }
}
.team li:hover .back-color {
    opacity: 1;
}

.overblock button:hover  {
    background-color: aqua;
}

.foot {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: rgb(167, 167, 167);
}

.foot p {
        font-size: 14px;
        font-family: "Montserrat",sans-serif;
        color: rgb(51, 51, 51);
        line-height: 1.2;
}

.foot input {
    height: 40px;
    width: 380px;
}

.foot button {
    position: absolute;
    right: 0%;
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(149, 225, 211);
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}